# Binaries for programs and plugins
kafka-ambassador
ssl/*
*.crt
*.key
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dont copy the open-api code generator
openapi-generator-cli*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
